// typography
//-----------

// loading Brick fonts in dj-base.html, instead...
//http://www.google.com/fonts/#ChoosePlace:select/Collection:EB+Garamond
//@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond 12 Regular'), url(fonts/ebgaramond/400.woff) format('woff')
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: local('EB Garamond 12 Italic'), url(fonts/ebgaramond/400i.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), url(fonts/opensans/400.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), url(fonts/opensans/400i.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url(fonts/opensans/700.woff) format('woff')
}

// Font Awesome
$fa-font-path: "fonts" !default;
@import 'fontawesome/scss/font-awesome';

.header h3 a{
  font-family: $font-family-serif;
}

// colours are set in _dural-variables.scss
//-------------

// layout - leave default Bootstrap for now
//-------------

// individual page components
//----------------------------

// main
//--------
body {
  background-color: transparent;
  background-image: url("../images/bg_pattern.jpg");
  background-repeat: repeat;
  padding-top: 0;
  padding-bottom: 0;
}

body > main { @extend .container;
  background-color: transparent;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-top: 10px;
}

// header
//--------
main > header { @extend .header;
  /*background: url(../images/logo.png) no-repeat;
  background-size: 3.8em auto;*/
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  border-bottom: 0;
  div.navbar-brand.logo { @extend .text-muted;
     margin-left: -15px;
     margin-right: -15px;
     padding: 0px;
     padding-top: 5px;
     padding-left: 5em;
     height: auto;
    overflow-x: hidden;
    line-height: 1.1;
     a,a:hover,a:focus {
       color: #2f2f2f;
     }
    h3 {
      display: inline-block;
      margin-left: 1em;
    }

    h3 span {
          color: $duralumin-orange;
     }
  }

}

main > header > .main-logo {
  height: 12em;
  width: 12em;
  position: absolute;
  left: -76px;
  top: -6px;
  z-index: 100;
  img {
    height: 12em;
    width: 12em;
  }
}

#nav-container
{
  padding: 0;
}

.navbar-brand h3{
  font-size: 1.5em;
  font-weight: bold; // we don't have EB Garamond other than 400 normal/italic -- Does't matter - browser makes it bold
}

main > header > nav.navbar {
  font-family: $font-family-serif;
  font-size: 1.2em;
  border: 0;
}

.navbar-nav > li > a
{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.navbar-default #upper-navbar > .navbar-nav > li > a {
  color: white;
}

.navbar-header {
    background-color: white;
}

.navbar-colapse {
    //box-shadow: none;
}

.navbar-default button.navbar-toggle {
    background-color: $duralumin-black;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    .icon-bar {
       background-color: white;
    }
}

#upper-navbar {
  background-color: $duralumin-black;
  color: white;
  padding-left: 6em;
}

#lower-navbar {
  background-color: lightgray;
}


.row{
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 6em;
  padding-right: 6em;
}

.row.split{
  margin-top: 15px
}


.box {
  background: white url("../images/basket.png") 102% 0% /18% no-repeat;
}

.airship {
  background: url("../images/airship.png") 97% 0% /50% no-repeat,
              url("../images/cloud.png") 0% 100% /50% no-repeat;
  background-color: white;
}


// Responsive
//-----------
// phones
@media (max-width: 767px) {

  body > main {
    margin-top: 0;
    padding-top: 0;
  }

  main > header > .main-logo {
    left: -6px;
  }

  .navbar-header {
    background-color: $duralumin-black;
  }

  main > header div.navbar-brand.logo
  {
    padding-left: 7.5em
  }

  #upper-navbar {
    padding-left: 10em;
  }

  .container-fluid > .navbar-header {
    margin-left: 61px; // for the corner to go away
  }

  .row{
    padding-left: 0;
    padding-right: 0;
  }

}


@media screen and (min-width: 1024px) {
  .container, body>main {
    max-width: 950px;
  }
}