// typography
//-----------

// loading Brick fonts in dj-base.html, instead...
//http://www.google.com/fonts/#ChoosePlace:select/Collection:EB+Garamond
//@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond 12 Regular'), url(fonts/ebgaramond/400.woff) format('woff')
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: local('EB Garamond 12 Italic'), url(fonts/ebgaramond/400i.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), url(fonts/opensans/400.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), url(fonts/opensans/400i.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url(fonts/opensans/700.woff) format('woff')
}

// Font Awesome
$fa-font-path: "fonts" !default;
@import 'fontawesome/scss/font-awesome';

.header h3 a{
  font-family: 'EB Garamond', serif;
}

// colours are set in _dural-variables.scss
//-------------

// layout - leave default Bootstrap for now
//-------------

// individual page components
//----------------------------

// main
//--------
body {
  background-color: white;
  background-image: url("../images/bg_pattern.jpg");
  background-repeat: repeat;
  padding-top: 0;
  padding-bottom: 0;
}

body > main { @extend .container;
  background-color: white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-top: 10px;
}

// header
//--------
main > header { @extend .header;
  /*background: url(../images/logo.png) no-repeat;
  background-size: 3.8em auto;*/
  margin: -15px;
  position: relative;
  border-bottom: 0;
  h3 { @extend .text-muted;
     margin-left: 1.5em;
     padding: 21px;
     a,a:hover,a:focus {
       color: #2f2f2f;
     }
     span {
          color: $duralumin-orange;
     }
  }

}

main > header > .main-logo {
  height: 12em;
  width: 12em;
  position: absolute;
  left: -76px;
  top: -6px;
  z-index: 100;
  img {
    height: 12em;
    width: 12em;
  }
}

#nav-container
{
  padding: 0;
}

.navbar-brand {
  font-size: 1.5em;
  //font-weight: bold; // we don't have EB Garamond other than 400 normal/italic
  padding-left: 3.5em;
}

main > header > nav.navbar {
  font-family: $font-family-serif;
  font-size: 1.2em;
  border: 0;
}

.navbar-default #upper-navbar > .navbar-nav > li > a {
  color: white;
}

.navbar-header {
    background-color: $duralumin-black;
}

.navbar-colapse {
    //box-shadow: none;
}

button.navbar-toggle {
    background-color: white;
}

#upper-navbar {
  background-color: $text-color;
  color: white;
  padding-left: 6em;
  background-color: #2F2F2F;
}

#lower-navbar {
  background-color: lightgray;
}

.split-window {
  padding: 3em 0;
  border-top: 1px solid #e5e5e5; // we should split window instead
}

.box {
  background: url("../images/basket.png") 102% 0% /18% no-repeat;
  margin-right: -15px; // hacky - maybe set padding instead of margin on main
}

.airship {
  background: url("../images/airship.png") 97% 0% /50% no-repeat,
              url("../images/cloud.png") 0% 100% /50% no-repeat;
  padding-bottom: 5em;
}


// Responsive
//-----------
// phones
@media (max-width: 767px) {
  main > header > .main-logo {
    left: -6px;
  }

  .navbar-brand {
    padding-left: 4.5em;
  }

  #upper-navbar {
    padding-left: 10em;
  }

  .container-fluid > .navbar-header {
    //margin-left: 61px; // for the corner to go away
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  main > header { /*@extend .header;*/
    h3 { /*@extend .text-muted;*/
      margin-left: 2.5em;
    }
  }
}