// typography
//-----------

// loading Brick fonts in dj-base.html, instead...
//http://www.google.com/fonts/#ChoosePlace:select/Collection:EB+Garamond
//@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

.header h3 a{
  font-family: 'EB Garamond', serif;
}

// colours are set in _dural-variables.scss
//-------------

// layout - leave default Bootstrap for now
//-------------

// individual page components
//----------------------------

// main
//--------
body {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

body > main { @extend .container;
  background-color: white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

// header
//--------
main > header { @extend .header;
  background: url(../images/logo.png) no-repeat;
  background-size: 3.8em auto;
  h3 { @extend .text-muted;
     margin-left: 1.5em;
     padding: 21px;
     a,a:hover,a:focus {
       color: #2f2f2f;
     }
     span {
          color: $duralumin-primary;
     }
  }

}

// Responsive
//-----------
// phones
@media (max-width: 767px) {
  main > header {
    border-bottom: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  main > header { /*@extend .header;*/
    h3 { /*@extend .text-muted;*/
      margin-left: 2.5em;
    }
  }
}