//
// Duralumin variables
// ---------------------


// Duralumin typography
//----------------------
$duralumin-font-serif:  "EB Garamond", Georgia, "Times New Roman", Times, serif;
$duralumin-font-sans:   "Open Sans", Helvetica, Arial, sans-serif;

// Duralumin brand colors
// -----------------------

$duralumin-orange:         #e26826;
$duralumin-black:          #2F2F2F;
$duralumin-darkgrey:       #B0B0B0;
$duralumin-grey:           #E6E6E6;


// ---------------------
// Bootstrap overrides
// ---------------------

// Brand colors
// -------------------------

$brand-primary:         $duralumin-orange;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;

// Typography
//-----------

$font-family-sans-serif:  $duralumin-font-sans;
$font-family-serif:       $duralumin-font-serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$headings-font-family:    $font-family-serif;


// Navbar
//-------
$navbar-default-bg:     transparent;
$navbar-default-border: transparent;
$navbar-default-link-active-bg: transparent;