{% extends "duralumin/dj-base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}

<div class="starter-template">

    <p>{% blocktrans %}Hello, {% endblocktrans %} {{ user.username }}!
    {% blocktrans %}Welcome to your dashboard!{% endblocktrans %}</p>

    <h4>Your fleet</h4>

    <p>{% blocktrans %}<i>No vessels yet. Would you like to order one now?</i>{% endblocktrans %}</p>

    <p><a class="btn btn-lg btn-success" href="#">Order a blimp!</a></p>


</div>

{% endblock %}
